* {
  margin: 0;
}

.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.content h1,
p {
  font-family: "Roboto", sans-serif;
  padding: 5px 0px;
  color: #fff;
}

.link {
  text-align: center;
}

/* ul Style */
.experience li {
  margin: 5px 0px;
}
/* end */
